{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static '/frontend/css/style.css' %}">
    
    <title>To Do</title>
</head>
<body>
    
    <div id="todo">
        <div id="add-panel">
            <input type="text" id="add-input" class="form-control">
            <button id="add-btn" class="btn btn-info"><i class="fas fa-plus"></i></button>
        </div>
        <ul id="todo-list"></ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static '/frontend/js/todo.js' %}"></script>
</body>
</html>